{% extends 'base.html' %}

{% block content %}

    <p>
        <a href="{{ url_for('.notes') }}"> {{ _('Notes') }} </a> | 
        <a href="{{ url_for('.categories') }}"> {{ _('Categories') }} </a> |
        <a href="{{ url_for('.note', id=note.id) }}"> {{ note.title or _("No title") }} </a> 
    </p>

    {% include '_utilities/_form_errors.html' %}
    
    <form method="post" action="" novalidate>

        {{ form.hidden_tag() }}

        <p>
            {{ form.title(class='form-control') }}
            {% for error in form.title.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </p>

        <p>
            {{ form.body(class='form-control', rows=10) }}
            {% for error in form.body.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </p>

        <p>
            {{ form.category_id(class='form-select') }}
            {% for error in form.category_id.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </p>

        <p>
            {{ form.lang(class='form-select') }}
            {% for error in form.lang.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </p>

        <p>
            {{ form.submit(class='btn btn-primary') }}
        </p>

    </form>




    {% include '_utilities/_upload_form.html' %}



    {% for file in db.session.scalars(note.files.select()) %}

        {% set loop_ = loop %}
        {% set markdown = True %}
        {% include '_utilities/_file.html' %}

    {% endfor %}
{% endblock %}