{% extends 'base.html' %}

{% block content %}

    {# include '_utilities/_form_errors.html' #}
    
    
    
    <form method="post" accept="" novalidate>

        {{ form.hidden_tag() }}

        <div class="row">

            <div class="col">
                {{ form.name(placeholder=_('Category name'), class='form-control') }}
                {% for error in form.name.errors %}
                    <span class='text-danger'> {{ error }} </span>
                {% endfor %}
            </div>

            <div class="col-auto">
                {{ form.submit(class='btn btn-primary') }}
            </div>
        </div>

    </form>

    
    <p class="mb-3 mt-3">
        <a href="{{ url_for('.categories') }}">{{ _('Categories') }}</a> 
    </p>

{% endblock %}