{% extends 'base.html' %}

{% block content %}
    
    <div class="alert alert-info h1">  {{ _('Notes')}} </div>

   

    <ul>
        {% for note in paginated.items %}

        

            <li>

                <a href="{{ url_for('.note', id=note.id) }}">
                    {{ note.title or _("No title") }}
                </a> ({{ note.category.name }})
    
               
            </li>

            
           
        {% endfor %}
    </ul>

    {% include '_utilities/_page_links.html' %}

     <p class="mt-5 mb-5">
        <a href="{{ url_for('.categories') }}"> {{ _('Categories') }} </a> |
        <a href="{{ url_for('.add_note') }}"> {{ _('Add note') }} </a>
    </p>
{% endblock %}
