<div class="row mb-3">

    <div class="col-2">
    <a href="{{ url_for(request.endpoint, page=1, **request.view_args) }}">
        {{ _('First') }}
    </a>        
    </div>

    
    <div class="col-2">
    {% if paginated.has_next %}
        <a href="{{ url_for(request.endpoint, page=paginated.next_num, **request.view_args) }}">
            {{ _('Prev') }}
        </a>
    {% endif %}
    </div>

    <div class="col-4">
        {{ _('Page') }} {{ paginated.page }} {{ _('of') }} {{ paginated.pages }}
    </div>

    
    

    <div class="col-2">
    {% if paginated.has_prev %}        
        <a href="{{ url_for(request.endpoint, page=paginated.prev_num, **request.view_args) }}">
            {{ _('Next') }}
        </a>
    {% endif %}
    </div>

    <div class="col-2">
     <a href="{{ url_for(request.endpoint, page=paginated.pages, **request.view_args) }}">
        {{ _('Last') }}
    </a>
    </div>
</div>