{% if paginated.pages > 1 %}
<div class="row mb-3 text-center">

    <div class="col-1 text-start">
    <a href="{{ url_for(request.endpoint, page=1, **request.view_args) }}">
        {{ _('First') }}
    </a>        
    </div>

    
    <div class="col-3 text-center">
    {% if paginated.has_prev %}        
        <a href="{{ url_for(request.endpoint, page=paginated.prev_num, **request.view_args) }}">
            {{ _('Newer posts') }}
        </a>
    {% endif %}
    </div>



    <div class="col-4 text-center">
        {{ _('Page') }} {{ paginated.page }} {{ _('of') }} {{ paginated.pages }}
    </div>

    
    

    

    <div class="col-3 text-center">
    {% if paginated.has_next %}
        <a href="{{ url_for(request.endpoint, page=paginated.next_num, **request.view_args) }}">
            {{ _('Older posts') }}
        </a>
    {% endif %}
    </div>

    <div class="col-1 text-end">
     <a href="{{ url_for(request.endpoint, page=paginated.pages, **request.view_args) }}">
        {{ _('Last') }}
    </a>
    </div>
</div>
{% endif %}